body {
background-color: powderblue;
}
h1 {
color: darkblue;
font-family: Impact;
font-size: 300%;
border-style: solid;
  border-color: blue;
border-width: 5px;
}
a {
color: blue;
background-color: cyan;
font-family: Verdana;
font-size: 150%;
border-style: solid;
border-color: darkblue;
border-width: 5px;
vertical-align: middle;
}
h4{
color: darkblue;
font-family: Arial;
font-size: 200%;
}
